{% extends 'base.html' %}

{% block page_title %}Training{% endblock %}

{% block page_head %}Training Materials{% endblock %}

{% block page_content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4>Welcome to Your Training</h4>
                </div>
                <div class="card-body">
                    <p>Welcome to your training for the TerpSys Student Information System. Training materials are currently under construction, but will be created very soon.</p>

                    <p>Please check Ethan Zhang at <a href="mailto:ezhang30@terpmail.umd.edu">ezhang30@terpmail.umd.edu</a> if you wish to be placed on the waiting list.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

